extends layout

block content
  h1= title
  form(name="add-estimation", method="get", action="/pdf")
    div.input
      span.label Page URL
      input(type="text", name="url", size="100"  )
    div.actions
      input(type="submit", value="Download PDF" )


